<label style="font-size: 40px;">Pick your favourite color!</label>
<div id="colors-list" class="row">
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DC9F84">撫子<br>NADESHIKO<br>#DC9F84</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E16B8C">紅梅<br>KOHBAI<br>#E16B8C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#8E354A">蘇芳<br>SUOH<br>#8E354A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F8C3CD">退紅<br>TAIKOH<br>#F8C3CD</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F4A7B9">一斥染<br>IKKONZOME<br>#F4A7B9</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#64363c">桑染<br>KUWAZOME<br>#64363C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F596AA">桃<br>MOMO<br>#F596AA</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B5495B">莓<br>ICHIGO<br>#B5495B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E87A90">薄紅<br>USUBENI<br>#E87A90</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D05A6E">今様<br>IMAYOH<br>#D05A6E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DB4D6D">中紅<br>NAKABENI<br>#DB4D6D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FEDFE1">桜<br>SAKURA<br>#FEDFE1</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#9E7A7A">梅鼠<br>UMENEZUMI<br>#9E7A7A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D0104C">韓紅花<br>KARAKURENAI<br>#D0104C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#9F353A">燕脂<br>ENJI<br>#9F353A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#CB1B45">紅<br>KURENAI<br>#CB1B45</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#EEA9A9">鴇<br>TOKI<br>#EEA9A9</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#BF6766">長春<br>CYOHSYUN<br>#BF6766</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#86473F">深緋<br>KOKIAKE<br>#86473F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B19693">桜鼠<br>SAKURANEZUMI<br>#B19693</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#EB7A77">甚三紅<br>JINZAMOMI<br>#EB7A77</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#954A45">小豆<br>AZUKI<br>#954A45</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A96360">蘇芳香<br>SUOHKOH<br>#A96360</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#CB4042">赤紅<br>AKABENI<br>#CB4042</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#AB3B3A">真朱<br>SHINSYU<br>#AB3B3A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D7C4BB">灰桜<br>HAIZAKURA<br>#D7C4BB</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#904840">栗梅<br>KURIUME<br>#904840</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#734338">海老茶<br>EBICHA<br>#734338</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C73E3A">銀朱<br>GINSYU<br>#C73E3A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#554236">黒鳶<br>KUROTOBI<br>#554236</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#994639">紅鳶<br>BENITOBI<br>#994639</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F19483">曙<br>AKEBONO<br>#F19483</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B54434">紅樺<br>BENIKABA<br>#B54434</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B9887D">水がき<br>MIZUGAKI<br>#B9887D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F17C67">珊瑚朱<br>SANGOSYU<br>#F17C67</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#884C3A">紅檜皮<br>BENIHIWADA<br>#884C3A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E83015">猩猩緋<br>SYOJYOHI<br>#E83015</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D75455">鉛丹<br>ENTAN<br>#D75455</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B55D4C">芝翫茶<br>SHIKANCHA<br>#B55D4C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#854836">檜皮<br>HIWADA<br>#854836</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A35E47">柿渋<br>KAKISHIBU<br>#A35E47</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#CC543A">緋<br>AKE<br>#CC543A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#724832">鳶<br>TOBI<br>#724832</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F75C2F">紅緋<br>BENIHI<br>#F75C2F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6A4028">栗皮茶<br>KURIKAWACHA<br>#6A4028</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#9A5034">弁柄<br>BENGARA<br>#9A5034</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C46243">照柿<br>TERIGAKI<br>#C46243</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#AF5F3C">江戸茶<br>EDOCHA<br>#AF5F3C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FB966E">洗朱<br>ARAISYU<br>#FB966E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#724938">百塩茶<br>MOMOSHIOCHA<br>#724938</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B47157">唐茶<br>KARACHA<br>#B47157</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DB8E71">ときがら茶<br>TOKIGARACHA<br>#DB8E71</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F05E1C">黄丹<br>OHNI<br>#F05E1C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#ED784A">纁<br>SOHI<br>#ED784A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#CA7853">遠州茶<br>ENSYUCHA<br>#CA7853</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B35C37">樺茶<br>KABACHA<br>#B35C37</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#563F2E">焦茶<br>KOGECHA<br>#563F2E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E3916E">赤香<br>AKAKOH<br>#E3916E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#8F5A3C">雀茶<br>SUZUMECHA<br>#8F5A3C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F0A986">宍<br>SHISHI<br>#F0A986</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A0674B">宗伝唐茶<br>SODENKARACHA<br>#A0674B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#c1693c">樺<br>KABA<br>#C1693C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FB9966">深支子<br>KOKIKUCHINASHI<br>#FB9966</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#947A6D">胡桃<br>KURUMI<br>#947A6D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A36336">代赭<br>TAISYA<br>#A36336</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E79460">洗柿<br>ARAIGAKI<br>#E79460</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#7D532C">黄櫨染<br>KOHROZEN<br>#7D532C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C78550">赤朽葉<br>AKAKUCHIBA<br>#C78550</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#985F2A">礪茶<br>TONOCHA<br>#985F2A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E1A679">赤白橡<br>AKASHIRITSURUBAMI<br>#E1A679</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#855B32">煎茶<br>SENCHA<br>#855B32</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FC9F4D">萱草<br>KANZO<br>#FC9F4D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FFBA84">洒落柿<br>SHAREGAKI<br>#FFBA84</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E98B2A">紅鬱金<br>BENIUKON<br>#E98B2A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E9A368">梅染<br>UMEZOME<br>#E9A368</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B17844">枇杷茶<br>BIWACHA<br>#B17844</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#96632E">丁子茶<br>CHOJICHA<br>#96632E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#43341B">憲法染<br>KENPOHZOME<br>#43341B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#CA7A2C">琥珀<br>KOHAKU<br>#CA7A2C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#ECB88A">薄柿<br>USUGAKI<br>#ECB88A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#78552B">伽羅<br>KYARA<br>#78552B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B07736">丁子染<br>CHOJIZOME<br>#B07736</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#967249">柴染<br>FUSHIZOME<br>#967249</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E2943B">朽葉<br>KUCHIBA<br>#E2943B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C7802D">金茶<br>KINCHA<br>#C7802D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#9B6E23">狐<br>KITSUNE<br>#9B6E23</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6E552F">煤竹<br>SUSUTAKE<br>#6E552F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#EBB471">薄香<br>USUKOH<br>#EBB471</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D7B98E">砥粉<br>TONOKO<br>#D7B98E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#82663A">銀煤竹<br>GINSUSUTAKE<br>#82663A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B68E55">黄土<br>OHDO<br>#B68E55</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#BC9F77">白茶<br>SHIRACHA<br>#BC9F77</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#876633">媚茶<br>KOBICHA<br>#876633</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C18A26">黄唐茶<br>KIGARACHA<br>#C18A26</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FFB11B">山吹<br>YAMABUKI<br>#FFB11B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D19826">山吹茶<br>YAMABUKICHA<br>#D19826</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DDA52D">櫨染<br>HAJIZOME<br>#DDA52D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C99833">桑茶<br>KUWACHA<br>#C99833</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F9BF45">玉子<br>TAMAGO<br>#F9BF45</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DCB879">白橡<br>SHIROTSURUBAMI<br>#DCB879</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#BA9132">黄橡<br>KITSURUBAMI<br>#BA9132</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E8B647">玉蜀黍<br>TAMAMOROKOSHI<br>#E8B647</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F7C242">花葉<br>HANABA<br>#F7C242</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#7D6C46">生壁<br>NAMAKABE<br>#7D6C46</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DAC9A6">鳥の子<br>TORINOKO<br>#DAC9A6</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FAD689">浅黄<br>USUKI<br>#FAD689</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D9AB42">黄朽葉<br>KIKUCHIBA<br>#D9AB42</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F6C555">梔子<br>KUCHINASHI<br>#F6C555</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FFC408">籐黄<br>TOHOH<br>#FFC408</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#EFBB24">鬱金<br>UKON<br>#EFBB24</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#CAAD5F">芥子<br>KARASHI<br>#CAAD5F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#8D742A">肥後煤竹<br>HIGOSUSUTAKE<br>#8D742A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B4A582">利休白茶<br>RIKYUSHIRACHA<br>#B4A582</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#877F6C">灰汁<br>AKU<br>#877F6C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#897D55">利休茶<br>RIKYUCHA<br>#897D55</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#74673E">路考茶<br>ROKOHCHA<br>#74673E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A28C37">菜種油<br>NATANEYU<br>#A28C37</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6C6024">鶯茶<br>UGUISUCHA<br>#6C6024</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#867835">黄海松茶<br>KIMIRUCHA<br>#867835</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#62592C">海松茶<br>MIRUCHA<br>#62592C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E9CD4C">刈安<br>KARIYASU<br>#E9CD4C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#F7D94C">菜の花<br>NANOHANA<br>#F7D94C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FBE251">黄蘗<br>KIHADA<br>#FBE251</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#D9CD90">蒸栗<br>MUSHIKURI<br>#D9CD90</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#ADA142">青朽葉<br>AOKUCHIBA<br>#ADA142</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#DDD23B">女郎花<br>OMINAESHI<br>#DDD23B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A5A051">鶸茶<br>HIWACHA<br>#A5A051</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#BEC23F">鶸<br>HIWA<br>#BEC23F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6C6A2D">鶯<br>UGUISU<br>#6C6A2D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#939650">柳茶<br>YANAGICHA<br>#939650</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#838A2D">苔<br>KOKE<br>#838A2D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B1B479">麹塵<br>KIKUJIN<br>#B1B479</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#616138">璃寛茶<br>RIKANCHA<br>#616138</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4B4E2A">藍媚茶<br>AIKOBICHA<br>#4B4E2A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#5B622E">海松<br>MIRU<br>#5B622E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4D5139">千歳茶<br>SENSAICHA<br>#4D5139</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#89916B">梅幸茶<br>BAIKOCHA<br>#89916B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#90B44B">鶸萌黄<br>HIWAMOEGI<br>#90B44B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#91AD70">柳染<br>YANAGIZOME<br>#91AD70</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B5CAA0">裏柳<br>URAYANAGI<br>#B5CAA0</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#646A58">岩井茶<br>IWAICHA<br>#646A58</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#7BA23F">萌黄<br>MOEGI<br>#7BA23F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#86C166">苗<br>NAE<br>#86C166</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4A593D">柳煤竹<br>YANAGISUSUTAKE<br>#4A593D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#42602D">松葉<br>MATSUBA<br>#42602D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#516E41">青丹<br>AONI<br>#516E41</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#91B493">薄青<br>USUAO<br>#91B493</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#808F7C">柳鼠<br>YANAGINEZUMI<br>#808F7C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#1B813E">常磐<br>TOKIWA<br>#1B813E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#5DAC81">若竹<br>WAKATAKE<br>#5DAC81</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#36563C">千歳緑<br>CHITOSEMIDORI<br>#36563C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#227D51">緑<br>MIDORI<br>#227D51</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A8D8B9">白緑<br>BYAKUROKU<br>#A8D8B9</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6A8372">老竹<br>OITAKE<br>#6A8372</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#2D6D4B">木賊<br>TOKUSA<br>#2D6D4B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#465D4C">御納戸茶<br>ONANDOCHA<br>#465D4C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#24936E">緑青<br>ROKUSYOH<br>#24936E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#86A697">錆青磁<br>SABISEIJI<br>#86A697</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#00896C">青竹<br>AOTAKE<br>#00896C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#096148">ビロード<br>VELUDO<br>#096148</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#20604F">虫襖<br>MUSHIAO<br>#20604F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0F4C3A">藍海松茶<br>AIMIRUCHA<br>#0F4C3A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4F726C">沈香茶<br>TONOCHA2<br>#4F726C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#00AA90">青緑<br>AOMIDORI<br>#00AA90</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#69B0AC">青磁<br>SEIJI<br>#69B0AC</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#26453D">鉄<br>TETSU<br>#26453D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#66BAB7">水浅葱<br>MIZUASAGI<br>#66BAB7</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#268785">青碧<br>SEIHEKI<br>#268785</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#405B55">錆鉄御納戸<br>SABITETSUONANDO<br>#405B55</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#305A56">高麗納戸<br>KORAINANDO<br>#305A56</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#78C2C4">白群<br>BYAKUGUN<br>#78C2C4</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#376B6D">御召茶<br>OMESHICHA<br>#376B6D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A5DEE4">瓶覗<br>KAMENOZOKI<br>#A5DEE4</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#77969A">深川鼠<br>FUKAGAWANEZUMI<br>#77969A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6699A1">錆浅葱<br>SABIASAGI<br>#6699A1</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#81C7D4">水<br>MIZU<br>#81C7D4</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#33A6B8">浅葱<br>ASAGI<br>#33A6B8</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0C4842">御納戸<br>ONANDO<br>#0C4842</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0D5661">藍<br>AI<br>#0D5661</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0089A7">新橋<br>SHINBASHI<br>#0089A7</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#336774">錆御納戸<br>SABIONANDO<br>#336774</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#255359">鉄御納戸<br>TETSUONANDO<br>#255359</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#1E88A8">花浅葱<br>HANAASAGI<br>#1E88A8</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#566C73">藍鼠<br>AINEZUMI<br>#566C73</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#577C8A">舛花<br>MASUHANA<br>#577C8A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#58B2DC">空<br>SORA<br>#58B2DC</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#2B5F75">熨斗目花<br>NOSHIMEHANA<br>#2B5F75</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#3A8FB7">千草<br>CHIGUSA<br>#3A8FB7</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#2E5C6E">御召御納戸<br>OMESHIONANDO<br>#2E5C6E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#006284">縹<br>HANADA<br>#006284</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#7DB9DE">勿忘草<br>WASURENAGUSA<br>#7DB9DE</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#51A8DD">群青<br>GUNJYO<br>#51A8DD</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#2EA9DF">露草<br>TSUYUKUSA<br>#2EA9DF</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0B1013">黒橡<br>KUROTSURUBAMI<br>#0B1013</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0F2540">紺<br>KON<br>#0F2540</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#08192D">褐<br>KACHI<br>#08192D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#005CAF">瑠璃<br>RURI<br>#005CAF</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0B346E">瑠璃紺<br>RURIKON<br>#0B346E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#7B90D2">紅碧<br>BENIMIDORI<br>#7B90D2</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6E75A4">藤鼠<br>FUJINEZUMI<br>#6E75A4</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#261E47">鉄紺<br>TETSUKON<br>#261E47</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#113285">紺青<br>KONJYO<br>#113285</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4E4F97">紅掛花<br>BENIKAKEHANA<br>#4E4F97</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#211E55">紺桔梗<br>KONKIKYO<br>#211E55</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#8B81C3">藤<br>FUJI<br>#8B81C3</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#70649A">二藍<br>FUTAAI<br>#70649A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#9B90C2">楝<br>OUCHI<br>#9B90C2</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#8A6BBE">藤紫<br>FUJIMURASAKI<br>#8A6BBE</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6A4C9C">桔梗<br>KIKYO<br>#6A4C9C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#8F77B5">紫苑<br>SHION<br>#8F77B5</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#533D5B">滅紫<br>MESSHI<br>#533D5B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B28FCE">薄<br>USU<br>#B28FCE</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#986DB2">半<br>HASHITA<br>#986DB2</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#77428D">江戸紫<br>EDOMURASAKI<br>#77428D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#3C2F41">紫紺<br>SHIKON<br>#3C2F41</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4A225D">深紫<br>KOKIMURASAKI<br>#4A225D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#66327C">菫<br>SUMIRE<br>#66327C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#592C63">紫<br>MURASAKI<br>#592C63</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6F3381">菖蒲<br>AYAME<br>#6F3381</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#574C57">藤煤竹<br>FUJISUSUTAKE<br>#574C57</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#B481BB">紅藤<br>BENIFUJI<br>#B481BB</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#3F2B36">黒紅<br>KUROBENI<br>#3F2B36</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#572A3F">茄子紺<br>NASUKON<br>#572A3F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#5E3D50">葡萄鼠<br>BUDOHNEZUMI<br>#5E3D50</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#72636E">鳩羽鼠<br>HATOBANEZUMI<br>#72636E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#622954">杜若<br>KAKITSUBATA<br>#622954</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#6D2E5B">蒲葡<br>EBIZOME<br>#6D2E5B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#C1328E">牡丹<br>BOTAN<br>#C1328E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#A8497A">梅紫<br>UMEMURASAKI<br>#A8497A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#562E37">似紫<br>NISEMURASAKI<br>#562E37</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#E03C8A">躑躅<br>TSUTSUJI<br>#E03C8A</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#60373E">紫鳶<br>MURASAKITOBI<br>#60373E</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FCFAF2">白練<br>SHIRONERI<br>#FCFAF2</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#FFFFFB">胡粉<br>GOFUN<br>#FFFFFB</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#BDC0BA">白鼠<br>SHIRONEZUMI<br>#BDC0BA</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#91989F">銀鼠<br>GINNEZUMI<br>#91989F</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#787878">鉛<br>NAMARI<br>#787878</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#828282">灰<br>HAI<br>#828282</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#787D7B">素鼠<br>SUNEZUMI<br>#787D7B</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#707C74">利休鼠<br>RIKYUNEZUMI<br>#707C74</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#656765">鈍<br>NIBI<br>#656765</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#535953">青鈍<br>AONIBI<br>#535953</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#4F4F48">溝鼠<br>DOBUNEZUMI<br>#4F4F48</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#52433D">紅消鼠<br>BENIKESHINEZUMI<br>#52433D</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#373C38">藍墨茶<br>AISUMICHA<br>#373C38</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#3A3226">檳榔子染<br>BINROJIZOME<br>#3A3226</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#434343">消炭<br>KESHIZUMI<br>#434343</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#1C1C1C">墨<br>SUMI<br>#1C1C1C</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#080808">黒<br>KURO<br>#080808</div>
    <div class="col-xs-6 col-sm-3 colors-list-item" style="background:#0C0C0C">呂<br>RO<br>#0C0C0C</div>
</div>