@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #df7b7b;
  padding: 20px;
  z-index: 999;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(185px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(270px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dropdown {
  position: absolute;
  right: 30px;
  top: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.user-avatar {
  position: relative;
  top: -81%;
  left: -81%;
  width: 265%;
  height: 265%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.dropdown {
  position: absolute;
  right: 30px;
  top: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.user-avatar {
  position: relative;
  top: -81%;
  left: -81%;
  width: 265%;
  height: 265%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  left: 30px;
  top: 100%;
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  color: black;
  flex-direction: column;
  transition: transform 0.5s, opacity 0.5s, visibility 0s 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translate(-100%, 10px);
}


.onOf {
  transform: translate(-100%, 0);
  transition: transform 0.5s, opacity 0.5s, visibility 0s;
  visibility: visible;
  opacity: 1;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, .2);
  margin-bottom: 5px;
}

ul li {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 1.2rem;
  margin: 5px;
  cursor: pointer;
  transition: .3s;
}

h1 {
  text-align: center;
  margin: 20px 0 0;
  font-size: 2rem;
}

span {
  text-align: center;
  opacity: .7;
  font-size: 1.2rem;
}

ul li:hover {
  color: rgb(222, 158, 170);
}

ul li:hover::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: crimson;
  position: absolute;
  margin: 5px 0;
  animation: line-animation .2s ease;
}

@keyframes line-animation {
  to {
    width: 88%;
  }
}
